<%= render 'layouts/navbar'%>
<div class="conteneur">
  <h1>Index des Gossips, oh yeah</h1>
  <p></p>
  <table class="conteneur">
    <thead> <tr>
             <th></th>
         </tr></thead>
    <tbody>
  <% @gossip.each do |gossip| %>


        <tr>
          <td>
          <h5><a href="gossip/<%= gossip.id %>" > <%= gossip.content %> </a><a href="<%= destroy_path %>" class="btn btn-danger btn-sm" data-method="DELETE">X</a>
</h5>
          <br>
          

        </td>
        </tr>
  <% end %>
  </tbody>
  </table>
</div>
