<%= render 'layouts/navbar'%>
<div class="conteneur">
<h1>Votre gossip :</h1>
<p>  <%= @gossip.content %> </p></br>
<button type="button" class="btn btn-danger">Supprimer ?</button> <button type="button" class="btn btn-info">Editer ?</button>
</div>
